@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap');

* {
  font-family: 'Inter', 'Helvetica', sans-serif;
}

body {
  background-color: #1A1A1A;
  margin: 0;
  padding: 0;
  height: 100%;
}

html {
  margin: 0;
  padding: 0;
  height: 100%;
}